<div class="container navbar-bg">
    <ul class="list-unstyled list-inline text-center pt-3 mb-0 text-white">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-2">
                <i class="fa fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-2">
                <i class="fa fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-2">
                <i class="fa fa-at"></i> </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-2">
                <i class="fa fa-google-plus"></i> </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-2">
                <i class="fa fa-dribbble"> </i>
            </a>
        </li>
    </ul>
    <div class="footer-copyright text-center mt-0 pb-2 text-white">© 2020 Copyright:
        <a href='https://warmmusic.net/'> WarmMusic.net</a>
    </div>
</div>